{% extends "layout.html" %}
{% block content %}
<div class="page-header">
    <h1>Projects</h1>
</div>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-sm">
        <button id="all" class="btn btn-primary">All</button>
        <button id="current-projects" class="btn btn-default js-filter">Current</button>
        <button id="past-projects" class="btn btn-default js-filter">Past</button>
    </div>
    <div class="btn-group btn-group-sm">
        {% for tag in project_tags %}
            <button id="{{ tag.slug }}" class="btn btn-default js-filter">{{ tag.name }}</button>
        {% endfor %}
    </div>
</div>
<hr />
{% for project in projects %}
<section id="{{ project.project_id }}" class="panel panel-default panel-project {% for category in project.categories %}{{ category.slug }} {% endfor %}{% if project.end_date is none %}current-projects{% else %}past-projects{% endif %}">
    <div class="panel-heading">
        <h4 class="panel-title">
            {{ project.name }}
            <span class="label label-{{ project.status.label }}">{{ project.status.name }}</span>
            <p class="pull-right">{{ project.start_date.strftime('%B %Y') }} &mdash; {% if project.end_date is none %}present{% else %}{{ project.end_date.strftime('%B %Y') }}{% endif %}</p>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="{% if project.image is none %}col-xs-12{% else %}col-xs-9{% endif %}">
                <p>{{ project.description|safe }}</p>
                <ul class="fa-ul">
                {% if project.github is not none %}
                    <li><span class="fa-li fa fa-lg fa-github"></span><a href="https://github.com/{{ project.github }}">{{ project.name }} on GitHub</a></li>
                {% endif %}
                {% for link in project.links %}
                    <li><span class="fa-li fa fa-lg fa-link"></span><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% if project.image is not none %}
            <div class="col-sm-3 hidden-xs">
                <img class="img-responsive" alt="{{ project.name }}"
                     src="{{ url_for('api_project_thumb', project_id=project.project_id) }}" />
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}
